/* General Styles */
body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre el logo y el nav */
  padding: 10px 20px;
  background-color: white;
}

.logo-container {
  border: 1px solid #0074A2;
  padding: 10px;
  margin-right: 20px; /* Espacio del logo hacia el nav */
}

.logo-header {
  height: 60px;
  width: auto;
}
.logo{
  height: 800px;
  width: 700;
}

/* Navigation */
.nav {
  flex-grow: 1;
  background-color: #0074A2;
  padding: 30px 0;
}

.barnav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0px;
  height: 10px;
}

.menu {
  margin: 0 100px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

/* Main Layout */
.main {
  display: flex;
  flex: 1;
}

/* Image Section */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 90%;
  height: auto;
  max-width: 600px;
  border: 8px solid #0074A2;
  border-radius: 8px;
}

/* Text Section */
.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.caja {
  border: 2px solid #0074A2;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  width: 80%;
  text-align: center;
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
}

h2, p {
  color: #0074A2;
  margin: 0;
}